# This file is an example for column normalization configuration in YAML
# format.


# ---------------------------- Metadata section ---------------------------- #
name: Example. Column normalization configuration
description: |
  The purpose of this file is to show the user how to build a column
  normalization configuration file in YAML format. The `description` field
  should be used to explain the definition of each column. For example:
  - `fecha`: An NA value in this column means an error on a previos process.
  Should be reviewed.
  - `concept`: Rows with concept values such as "SALDO ANTERIOR" should
  be discarded.
  - `monto`: Negative values are not allowed.
  - Etc.
  
  Take into account the following notes:
  1) Not all dtypes are supported yet, see the module
  `verbosa.utils.global_typings` for the ones already defined.
  2) Values at `reviews` and `normalization` require knowledge of available
  reviews and normalization methods in verbosa.
  3) Type dates that may be ambiguous (e.g., 0000-00-00) with double-quotes.
  4) Regex patterns in `cleanup_pattern` should be double-escaped (e.g.,
  `"\$"` becomes `"\\$"`).
author: Leonardo Pérez Lázaro
date: 06/12/2025


# ----------------------- Main configuration section ----------------------- #
columns:
  fecha:
    description: Fecha de la transacción
    dtype: datetime64[ns]
    aliases:
      - date
      - transaction_date
    na_values: "0000-00-00"
    fill_na: null  # No need to explicitly declare it if is null
    reviews:
      no_na:
        tolerance: 0.0
    normalization:
      date:
        formats:
          - "%Y-%m-%d"
          - "%Y/%m/%d"
          - "%d-%m-%Y"
        dayfirst: False
        yearfirst: True
  
  concepto:
    description: Concepto de la transacción
    dtype: string
    aliases:
      - definicion
      - descripcion
    na_values:
      - "SALDO ANTERIOR"
      - "SALDO INICIAL"
    reviews:
      no_na:
        tolerance: 0.0
    normalization:
      text:
        strip: both
        compact_whitespace: " "
        case: upper
        empty_to_na: True
        delete_diacritics: True
        delete_non_ascii: True
  
  monto:
    description: Monto de la transacción
    dtype: Float64
    aliases:
      - amount
      - transaction_amount
    na_values: 0.0
    reviews:
      no_na:
        tolerance: 0.0
      min_value: 0.0
    normalization:
      numeric:
        dtype: Float64
        cleanup_pattern: "[$\\s,%]"
  
  tipo:
    description: Tipo de la transacción (ingreso/egreso)
    dtype: string
    aliases:
      - type
      - transaction_type
    na_values: null
    reviews:
      no_na:
        tolerance: 0.0
      contains_only:
        - ingreso
        - egreso
    normalization:
      categorical:
        strip: both
        compact_whitespace: " "
        case: upper
        empty_to_na: True
        delete_diacritics: True
        delete_non_ascii: True
        ordered: False
        sort_categories: True
  
  saldo:
    description: Saldo después de la transacción
    dtype: Float64
    aliases:
      - balance
      - account_balance
    reviews:
      no_na:
        tolerance: 0.0
      min_value:
        n: 0.0
    normalization:
      numeric:
        dtype: Float64
        cleanup_pattern: "[$\\s,%]"
  
  clasificacion:
    description: Clasificación de la transacción
    dtype: string
    aliases:
      - classification
      - transaction_classification
    fill_na: SIN CLASIFICACION
    normalization:
      categorical:
        strip: both
        compact_whitespace: " "
        case: upper
        empty_to_na: True
        delete_diacritics: True
        delete_non_ascii: True
        ordered: False
        sort_categories: True
